.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-toolbar {
  height: 50px;
  font-size:16px;
}


